<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- linking bootsrtap4 folders -->
	{% load static %}  
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
	 <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
	 <style> 
	@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css););
	</style>

	<title>Dashboard</title>
</head>

{% block content %}
	{% load static %} 




	
</body>
{% endblock %}
</html>